.slick-container {
    height: auto;
    width: 100%;   
    margin: 1rem auto 0 auto;
    overflow: hidden;
}

.main-item {
    margin-bottom: 1rem;
    height: auto;
    width: 100%;
}

.main-item > img {
    height: auto;
    width: 100%;
}

.item > img {
    height: auto;
    width: 98%;
}

.item {
    height: auto;
    width: 100%;
}

.carousel-wrapper {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-item2 {
    height: auto;
    width: 100%;
}

.main-item2 > img {
    height: auto;
    width: 98%;
}


.carousel2 {
    height: auto;
    width: 100%;
}